@import '../styles/vars';

.header {
  height: $header-height;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.main {
  padding-top: calc($header-height + 1rem);
  padding-inline: 2rem;
  padding-bottom: 1rem;
}